// 主色调
$color-main               = #ff8198
$color-active             = #ff5777

// 文字颜色
$text-color               = #333
$text-color-gray          = #666
$text-color-info          = #999

// 背景颜色
$bg-color                 = #fff
$bg-color-gray            = #f8f8f8

// 配色
$red                      = #ed3d57
$blue                     = #3a94f7
$yellow                   = #f3993e

// 字体大小
$font-size-base           = 14px
$font-size-small          = $font-size-base - 2px
$font-size-smaller        = $font-size-base - 4px
$font-size-large          = $font-size-base + 2px
$font-size-larger         = $font-size-base + 4px
